In [0]:
%fs ls /FileStore/tables/

In [0]:
reading data from a file

In [0]:
flightData2015 = spark.read.format("csv")\
.option("inferSchema","false")\
.option("header","false")\
.option("mode","FAILFAST")\
.load("/FileStore/tables/2012_summary-2.csv")

flightData2015.show()

In [0]:
flightData2 = spark.read.format("csv")\
.option("inferSchema","false")\
.option("header","true")\
.option("mode","FAILFAST")\
.load("/FileStore/tables/2012_summary-2.csv")

flightData2.show()

In [0]:
flightData2.printSchema()

In [0]:
flightData3 = spark.read.format("csv")\
.option("inferSchema","true")\
.option("header","true")\
.option("mode","FAILFAST")\
.load("/FileStore/tables/2012_summary-2.csv")

flightData3.show()

In [0]:
flightData3.printSchema()

In [0]:
from pyspark.sql.types import StructField, StructType,StringType,IntegerType

In [0]:
my_schema=StructType([StructField("DEST_COUNTRY_NAME",StringType(),True),
                      StructField("ORIGIN_COUNTRY_NAME",StringType(),True),
                      StructField("count",IntegerType(),True)])

In [0]:
flightData3 = spark.read.format("csv")\
.option("header","false")\
.option("mode","permissive")\
.option("skipRows",1)\
.schema(my_schema)\
.load("/FileStore/tables/2012_summary-2.csv")

flightData3.show()

In [0]:
/FileStore/tables/2015_summary.json

In [0]:
jsonData = spark.read.format("json")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","false")\
.load("/FileStore/tables/2015_summary.json")

jsonData.show()

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|       United States|            Romania|   15|
|       United States|            Croatia|    1|
|       United States|            Ireland|  344|
|               Egypt|      United States|   15|
|       United States|              India|   62|
|       United States|          Singapore|    1|
|       United States|            Grenada|   62|
|          Costa Rica|      United States|  588|
|             Senegal|      United States|   40|
|             Moldova|      United States|    1|
|       United States|       Sint Maarten|  325|
|       United States|   Marshall Islands|   39|
|              Guyana|      United States|   64|
|               Malta|      United States|    1|
|            Anguilla|      United States|   41|
|             Bolivia|      United States|   30|
|       United States|           Paraguay|    6|
|             Algeria|      United States|    4|
|Turks and Caicos ...|      United States|  230|
|       United States|          Gibraltar|    1|
+--------------------+-------------------+-----+
only showing top 20 rows

In [0]:
##lets we want to write prvious dataframe or result dataframe data  in spark
jsonData.write.format("csv")\
    .option("mode","overwrite")\
    .option("path","/FileStore/tables/written_data_2015_summary")\
    .save()

In [0]:
dbutils.fs.ls("/FileStore/tables/written_data_2015_summary")

Out[8]: [FileInfo(path='dbfs:/FileStore/tables/written_data_2015_summary/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1736437148000),
 FileInfo(path='dbfs:/FileStore/tables/written_data_2015_summary/_committed_8388248415064428292', name='_committed_8388248415064428292', size=111, modificationTime=1736437148000),
 FileInfo(path='dbfs:/FileStore/tables/written_data_2015_summary/_started_8388248415064428292', name='_started_8388248415064428292', size=0, modificationTime=1736437147000),
 FileInfo(path='dbfs:/FileStore/tables/written_data_2015_summary/part-00000-tid-8388248415064428292-2bcdfc2a-ff34-46e7-9c78-aff46d8b6f37-6-1-c000.csv', name='part-00000-tid-8388248415064428292-2bcdfc2a-ff34-46e7-9c78-aff46d8b6f37-6-1-c000.csv', size=7036, modificationTime=1736437148000)]

In [0]:
## partitioning and bucketing
jsonData.write.format("csv")\
    .option("mode","overwrite")\
    .option("path","/FileStore/tables/partition_written_data_2015_summary")\
    .partitionBy("ORIGIN_COUNTRY_NAME")\
    .save()

In [0]:
dbutils.fs.ls("/FileStore/tables/partition_written_data_2015_summary")

Out[12]: [FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Angola/', name='ORIGIN_COUNTRY_NAME=Angola/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Anguilla/', name='ORIGIN_COUNTRY_NAME=Anguilla/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Antigua and Barbuda/', name='ORIGIN_COUNTRY_NAME=Antigua and Barbuda/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Argentina/', name='ORIGIN_COUNTRY_NAME=Argentina/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Aruba/', name='ORIGIN_COUNTRY_NAME=Aruba/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Australia/', name='ORIGIN_COUNTRY_NAME=Australia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Austria/', name='ORIGIN_COUNTRY_NAME=Austria/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Azerbaijan/', name='ORIGIN_COUNTRY_NAME=Azerbaijan/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Bahrain/', name='ORIGIN_COUNTRY_NAME=Bahrain/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Barbados/', name='ORIGIN_COUNTRY_NAME=Barbados/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Belgium/', name='ORIGIN_COUNTRY_NAME=Belgium/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Belize/', name='ORIGIN_COUNTRY_NAME=Belize/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Bermuda/', name='ORIGIN_COUNTRY_NAME=Bermuda/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Bolivia/', name='ORIGIN_COUNTRY_NAME=Bolivia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Bonaire, Sint Eustatius, and Saba/', name='ORIGIN_COUNTRY_NAME=Bonaire, Sint Eustatius, and Saba/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Brazil/', name='ORIGIN_COUNTRY_NAME=Brazil/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=British Virgin Islands/', name='ORIGIN_COUNTRY_NAME=British Virgin Islands/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Bulgaria/', name='ORIGIN_COUNTRY_NAME=Bulgaria/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Canada/', name='ORIGIN_COUNTRY_NAME=Canada/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Cape Verde/', name='ORIGIN_COUNTRY_NAME=Cape Verde/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Cayman Islands/', name='ORIGIN_COUNTRY_NAME=Cayman Islands/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Chile/', name='ORIGIN_COUNTRY_NAME=Chile/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=China/', name='ORIGIN_COUNTRY_NAME=China/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Colombia/', name='ORIGIN_COUNTRY_NAME=Colombia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Cook Islands/', name='ORIGIN_COUNTRY_NAME=Cook Islands/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Costa Rica/', name='ORIGIN_COUNTRY_NAME=Costa Rica/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Croatia/', name='ORIGIN_COUNTRY_NAME=Croatia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Cuba/', name='ORIGIN_COUNTRY_NAME=Cuba/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Curacao/', name='ORIGIN_COUNTRY_NAME=Curacao/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Cyprus/', name='ORIGIN_COUNTRY_NAME=Cyprus/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Czech Republic/', name='ORIGIN_COUNTRY_NAME=Czech Republic/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Denmark/', name='ORIGIN_COUNTRY_NAME=Denmark/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Dominica/', name='ORIGIN_COUNTRY_NAME=Dominica/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Dominican Republic/', name='ORIGIN_COUNTRY_NAME=Dominican Republic/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Ecuador/', name='ORIGIN_COUNTRY_NAME=Ecuador/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Egypt/', name='ORIGIN_COUNTRY_NAME=Egypt/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=El Salvador/', name='ORIGIN_COUNTRY_NAME=El Salvador/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Estonia/', name='ORIGIN_COUNTRY_NAME=Estonia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Ethiopia/', name='ORIGIN_COUNTRY_NAME=Ethiopia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Federated States of Micronesia/', name='ORIGIN_COUNTRY_NAME=Federated States of Micronesia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Fiji/', name='ORIGIN_COUNTRY_NAME=Fiji/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Finland/', name='ORIGIN_COUNTRY_NAME=Finland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=France/', name='ORIGIN_COUNTRY_NAME=France/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=French Polynesia/', name='ORIGIN_COUNTRY_NAME=French Polynesia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Georgia/', name='ORIGIN_COUNTRY_NAME=Georgia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Germany/', name='ORIGIN_COUNTRY_NAME=Germany/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Ghana/', name='ORIGIN_COUNTRY_NAME=Ghana/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Gibraltar/', name='ORIGIN_COUNTRY_NAME=Gibraltar/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Greece/', name='ORIGIN_COUNTRY_NAME=Greece/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Greenland/', name='ORIGIN_COUNTRY_NAME=Greenland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Grenada/', name='ORIGIN_COUNTRY_NAME=Grenada/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Guadeloupe/', name='ORIGIN_COUNTRY_NAME=Guadeloupe/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Guatemala/', name='ORIGIN_COUNTRY_NAME=Guatemala/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Guyana/', name='ORIGIN_COUNTRY_NAME=Guyana/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Haiti/', name='ORIGIN_COUNTRY_NAME=Haiti/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Honduras/', name='ORIGIN_COUNTRY_NAME=Honduras/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Hong Kong/', name='ORIGIN_COUNTRY_NAME=Hong Kong/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Hungary/', name='ORIGIN_COUNTRY_NAME=Hungary/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Iceland/', name='ORIGIN_COUNTRY_NAME=Iceland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=India/', name='ORIGIN_COUNTRY_NAME=India/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Indonesia/', name='ORIGIN_COUNTRY_NAME=Indonesia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Ireland/', name='ORIGIN_COUNTRY_NAME=Ireland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Israel/', name='ORIGIN_COUNTRY_NAME=Israel/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Italy/', name='ORIGIN_COUNTRY_NAME=Italy/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Jamaica/', name='ORIGIN_COUNTRY_NAME=Jamaica/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Japan/', name='ORIGIN_COUNTRY_NAME=Japan/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Jordan/', name='ORIGIN_COUNTRY_NAME=Jordan/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Kiribati/', name='ORIGIN_COUNTRY_NAME=Kiribati/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Kuwait/', name='ORIGIN_COUNTRY_NAME=Kuwait/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Latvia/', name='ORIGIN_COUNTRY_NAME=Latvia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Liberia/', name='ORIGIN_COUNTRY_NAME=Liberia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Lithuania/', name='ORIGIN_COUNTRY_NAME=Lithuania/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Luxembourg/', name='ORIGIN_COUNTRY_NAME=Luxembourg/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Malaysia/', name='ORIGIN_COUNTRY_NAME=Malaysia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Malta/', name='ORIGIN_COUNTRY_NAME=Malta/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Marshall Islands/', name='ORIGIN_COUNTRY_NAME=Marshall Islands/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Martinique/', name='ORIGIN_COUNTRY_NAME=Martinique/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Mexico/', name='ORIGIN_COUNTRY_NAME=Mexico/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Montenegro/', name='ORIGIN_COUNTRY_NAME=Montenegro/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Morocco/', name='ORIGIN_COUNTRY_NAME=Morocco/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Namibia/', name='ORIGIN_COUNTRY_NAME=Namibia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Netherlands/', name='ORIGIN_COUNTRY_NAME=Netherlands/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=New Zealand/', name='ORIGIN_COUNTRY_NAME=New Zealand/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Nicaragua/', name='ORIGIN_COUNTRY_NAME=Nicaragua/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Nigeria/', name='ORIGIN_COUNTRY_NAME=Nigeria/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Norway/', name='ORIGIN_COUNTRY_NAME=Norway/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Pakistan/', name='ORIGIN_COUNTRY_NAME=Pakistan/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Palau/', name='ORIGIN_COUNTRY_NAME=Palau/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Panama/', name='ORIGIN_COUNTRY_NAME=Panama/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Papua New Guinea/', name='ORIGIN_COUNTRY_NAME=Papua New Guinea/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Paraguay/', name='ORIGIN_COUNTRY_NAME=Paraguay/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Peru/', name='ORIGIN_COUNTRY_NAME=Peru/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Philippines/', name='ORIGIN_COUNTRY_NAME=Philippines/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Poland/', name='ORIGIN_COUNTRY_NAME=Poland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Portugal/', name='ORIGIN_COUNTRY_NAME=Portugal/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Qatar/', name='ORIGIN_COUNTRY_NAME=Qatar/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Romania/', name='ORIGIN_COUNTRY_NAME=Romania/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Russia/', name='ORIGIN_COUNTRY_NAME=Russia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Saint Barthelemy/', name='ORIGIN_COUNTRY_NAME=Saint Barthelemy/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Saint Kitts and Nevis/', name='ORIGIN_COUNTRY_NAME=Saint Kitts and Nevis/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Saint Lucia/', name='ORIGIN_COUNTRY_NAME=Saint Lucia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Samoa/', name='ORIGIN_COUNTRY_NAME=Samoa/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Saudi Arabia/', name='ORIGIN_COUNTRY_NAME=Saudi Arabia/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Senegal/', name='ORIGIN_COUNTRY_NAME=Senegal/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Singapore/', name='ORIGIN_COUNTRY_NAME=Singapore/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Sint Maarten/', name='ORIGIN_COUNTRY_NAME=Sint Maarten/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=South Africa/', name='ORIGIN_COUNTRY_NAME=South Africa/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=South Korea/', name='ORIGIN_COUNTRY_NAME=South Korea/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Spain/', name='ORIGIN_COUNTRY_NAME=Spain/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Suriname/', name='ORIGIN_COUNTRY_NAME=Suriname/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Sweden/', name='ORIGIN_COUNTRY_NAME=Sweden/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Switzerland/', name='ORIGIN_COUNTRY_NAME=Switzerland/', size=0, modificationTime=0),
 FileInfo(path='dbfs:/FileStore/tables/partition_written_data_2015_summary/ORIGIN_COUNTRY_NAME=Taiwan/', name='ORIGIN_COUNTRY_NAME=Taiwan/', size=0, modificationTime=0),

In [0]:
## bucketing
jsonData.write.format("csv")\
    .option("mode","overwrite")\
    .option("path","/FileStore/tables/bucket_written_data_2015_summary")\
    .bucketBy(10,"ORIGIN_COUNTRY_NAME")\
    .saveAsTable("bucket_table")

In [0]:
dbutils.fs.ls("/FileStore/tables/bucket_written_data_2015_summary")

Out[17]: [FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/_SUCCESS', name='_SUCCESS', size=0, modificationTime=1736441013000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/_committed_6881050999538627537', name='_committed_6881050999538627537', size=965, modificationTime=1736441012000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/_started_6881050999538627537', name='_started_6881050999538627537', size=0, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-10_00009.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-10_00009.c000.csv', size=3918, modificationTime=1736441012000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-1_00000.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-1_00000.c000.csv', size=363, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-2_00001.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-2_00001.c000.csv', size=277, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-3_00002.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-3_00002.c000.csv', size=331, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-4_00003.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-4_00003.c000.csv', size=377, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-5_00004.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-5_00004.c000.csv', size=254, modificationTime=1736441011000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-6_00005.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-6_00005.c000.csv', size=487, modificationTime=1736441012000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-7_00006.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-7_00006.c000.csv', size=313, modificationTime=1736441012000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-8_00007.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-8_00007.c000.csv', size=350, modificationTime=1736441012000),
 FileInfo(path='dbfs:/FileStore/tables/bucket_written_data_2015_summary/part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-9_00008.c000.csv', name='part-00000-tid-6881050999538627537-fcc57243-2e49-4c42-afc5-208407cbc758-10-9_00008.c000.csv', size=366, modificationTime=1736441012000)]

In [0]:
#how to create a dataframe in spark
#data

my_data=[('suraj', '1'),('vaibhav','2'),('debojity','12'),('ravi','2'),('jay','4')]

In [0]:
#schema
my_schema1=['name','number_rc' ]

In [0]:
spark.createDataFrame(data=my_data,schema=my_schema1).show()

+--------+---------+
|    name|number_rc|
+--------+---------+
|   suraj|        1|
| vaibhav|        2|
|debojity|       12|
|    ravi|        2|
|     jay|        4|
+--------+---------+

In [0]:
# cretae dataframe with schema which is having other data types too
my_data2=[('sooraj', 1),('vaibhav',2),('debojit',12),('ravi',2),('jay',4)]

my_schema2=StructType([StructField("name",StringType(),True),
                      StructField("number_rc",IntegerType(),True)])
    
spark.createDataFrame(data=my_data2,schema=my_schema2).show()

+-------+---------+
|   name|number_rc|
+-------+---------+
| sooraj|        1|
|vaibhav|        2|
|debojit|       12|
|   ravi|        2|
|    jay|        4|
+-------+---------+

In [0]:
#how to select columns from  dataframes
flightData3 = spark.read.format("csv")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","true")\
.load("/FileStore/tables/2012_summary-2.csv")

# string method
flightData3.select("DEST_COUNTRY_NAME").show()
flightData3.select("DEST_COUNTRY_NAME","ORIGIN_COUNTRY_NAME").show()

+--------------------+
|   DEST_COUNTRY_NAME|
+--------------------+
|       United States|
|       United States|
|               Egypt|
|       United States|
|       United States|
|       United States|
|          Costa Rica|
|             Senegal|
|              Guyana|
|       United States|
|       United States|
|             Bolivia|
|            Anguilla|
|       United States|
|       United States|
|Turks and Caicos ...|
|Saint Vincent and...|
|               Italy|
|            Pakistan|
|       United States|
+--------------------+
only showing top 20 rows

+--------------------+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+
|       United States|            Croatia|
|       United States|            Ireland|
|               Egypt|      United States|
|       United States|              India|
|       United States|          Singapore|
|       United States|            Grenada|
|          Costa Rica|      United States|
|             Senegal|      United States|
|              Guyana|      United States|
|       United States|   Marshall Islands|
|       United States|       Sint Maarten|
|             Bolivia|      United States|
|            Anguilla|      United States|
|       United States|           Paraguay|
|       United States|        Afghanistan|
|Turks and Caicos ...|      United States|
|Saint Vincent and...|      United States|
|               Italy|      United States|
|            Pakistan|      United States|
|       United States|             Russia|
+--------------------+-------------------+
only showing top 20 rows

In [0]:
#col method of selecting columns 
from pyspark.sql.functions import *
from pyspark.sql.types import *

flightData3.select(col("DEST_COUNTRY_NAME"),col("ORIGIN_COUNTRY_NAME")).show()
flightData3.select(col("DEST_COUNTRY_NAME"),col("ORIGIN_COUNTRY_NAME"),col("count"),col("count")+10).show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-3150585391278855>:5
      2 from pyspark.sql.functions import *
      3 from pyspark.sql.types import *
----> 5 flightData3.select(col("DEST_COUNTRY_NAME"),col("ORIGIN_COUNTRY_NAME")).show()
      6 flightData3.select(col("DEST_COUNTRY_NAME"),col("ORIGIN_COUNTRY_NAME"),col("count"),col("count")+10).show()

NameError: name 'flightData3' is not defined

In [0]:
#others ways also of selecting columns 
flightData3.select("DEST_COUNTRY_NAME",col("ORIGIN_COUNTRY_NAME"),flightData3["count"],flightData3.ORIGIN_COUNTRY_NAME).show()

+--------------------+-------------------+-----+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+-----+-------------------+
|       United States|            Croatia|    1|            Croatia|
|       United States|            Ireland|  252|            Ireland|
|               Egypt|      United States|   13|      United States|
|       United States|              India|   62|              India|
|       United States|          Singapore|   25|          Singapore|
|       United States|            Grenada|   46|            Grenada|
|          Costa Rica|      United States|  522|      United States|
|             Senegal|      United States|   31|      United States|
|              Guyana|      United States|   65|      United States|
|       United States|   Marshall Islands|   30|   Marshall Islands|
|       United States|       Sint Maarten|  245|       Sint Maarten|
|             Bolivia|      United States|   35|      United States|
|            Anguilla|      United States|   19|      United States|
|       United States|           Paraguay|    5|           Paraguay|
|       United States|        Afghanistan|    5|        Afghanistan|
|Turks and Caicos ...|      United States|  183|      United States|
|Saint Vincent and...|      United States|    6|      United States|
|               Italy|      United States|  381|      United States|
|            Pakistan|      United States|   12|      United States|
|       United States|             Russia|  148|             Russia|
+--------------------+-------------------+-----+-------------------+
only showing top 20 rows

In [0]:

#expression
#if we want to do some sql expression or transformation or change the column name with string method of selecting column the we will be using expression
#.expr()
flightData3.select(expr("DEST_COUNTRY_NAME as country_name"),expr("DEST_COUNTRY_NAME||count as concat_add"),expr("count+10 as plus_count")).show()

+--------------------+--------------------+----------+
|        country_name|          concat_add|plus_count|
+--------------------+--------------------+----------+
|       United States|      United States1|        11|
|       United States|    United States252|       262|
|               Egypt|             Egypt13|        23|
|       United States|     United States62|        72|
|       United States|     United States25|        35|
|       United States|     United States46|        56|
|          Costa Rica|       Costa Rica522|       532|
|             Senegal|           Senegal31|        41|
|              Guyana|            Guyana65|        75|
|       United States|     United States30|        40|
|       United States|    United States245|       255|
|             Bolivia|           Bolivia35|        45|
|            Anguilla|          Anguilla19|        29|
|       United States|      United States5|        15|
|       United States|      United States5|        15|
|Turks and Caicos ...|Turks and Caicos ...|       193|
|Saint Vincent and...|Saint Vincent and...|        16|
|               Italy|            Italy381|       391|
|            Pakistan|          Pakistan12|        22|
|       United States|    United States148|       158|
+--------------------+--------------------+----------+
only showing top 20 rows

In [0]:
# column alising through col("") method
flightData3.select(col("DEST_COUNTRY_NAME"),col("ORIGIN_COUNTRY_NAME").alias("origin_cn")).show()

+--------------------+----------------+
|   DEST_COUNTRY_NAME|       origin_cn|
+--------------------+----------------+
|       United States|         Croatia|
|       United States|         Ireland|
|               Egypt|   United States|
|       United States|           India|
|       United States|       Singapore|
|       United States|         Grenada|
|          Costa Rica|   United States|
|             Senegal|   United States|
|              Guyana|   United States|
|       United States|Marshall Islands|
|       United States|    Sint Maarten|
|             Bolivia|   United States|
|            Anguilla|   United States|
|       United States|        Paraguay|
|       United States|     Afghanistan|
|Turks and Caicos ...|   United States|
|Saint Vincent and...|   United States|
|               Italy|   United States|
|            Pakistan|   United States|
|       United States|          Russia|
+--------------------+----------------+
only showing top 20 rows

In [0]:
#filtering columns from  dataframes
flightData3 = spark.read.format("csv")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","true")\
.load("/FileStore/tables/2012_summary-2.csv")


flightData3.select(col("DEST_COUNTRY_NAME"),col("count")).filter(col("count")>20).show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|       United States|  252|
|       United States|   62|
|       United States|   25|
|       United States|   46|
|          Costa Rica|  522|
|             Senegal|   31|
|              Guyana|   65|
|       United States|   30|
|       United States|  245|
|             Bolivia|   35|
|Turks and Caicos ...|  183|
|               Italy|  381|
|       United States|  148|
|       United States|   63|
|       United States|  607|
|             Iceland|  137|
|    Marshall Islands|   60|
|          Luxembourg|  111|
|            Honduras|  413|
|         The Bahamas|  975|
+--------------------+-----+
only showing top 20 rows

In [0]:
flightData3.select(col("DEST_COUNTRY_NAME"),col("count")).filter((col("count")>20) & (col("DEST_COUNTRY_NAME")!="india")).show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|       United States|  252|
|       United States|   62|
|       United States|   25|
|       United States|   46|
|          Costa Rica|  522|
|             Senegal|   31|
|              Guyana|   65|
|       United States|   30|
|       United States|  245|
|             Bolivia|   35|
|Turks and Caicos ...|  183|
|               Italy|  381|
|       United States|  148|
|       United States|   63|
|       United States|  607|
|             Iceland|  137|
|    Marshall Islands|   60|
|          Luxembourg|  111|
|            Honduras|  413|
|         The Bahamas|  975|
+--------------------+-----+
only showing top 20 rows

In [0]:
#filter and where are same we can use any
flightData3.select(col("DEST_COUNTRY_NAME"),col("count")).where(col("count")>20).show()

+--------------------+-----+
|   DEST_COUNTRY_NAME|count|
+--------------------+-----+
|       United States|  252|
|       United States|   62|
|       United States|   25|
|       United States|   46|
|          Costa Rica|  522|
|             Senegal|   31|
|              Guyana|   65|
|       United States|   30|
|       United States|  245|
|             Bolivia|   35|
|Turks and Caicos ...|  183|
|               Italy|  381|
|       United States|  148|
|       United States|   63|
|       United States|  607|
|             Iceland|  137|
|    Marshall Islands|   60|
|          Luxembourg|  111|
|            Honduras|  413|
|         The Bahamas|  975|
+--------------------+-----+
only showing top 20 rows

In [0]:
#literal
# by literal we can add any extra column and we can give value for in those columns 
flightData3.select(col("DEST_COUNTRY_NAME"),col("count"),lit("all the best")).show()
flightData3.select(col("DEST_COUNTRY_NAME"),col("count"),lit("all the best").alias("new_column")).show()

+--------------------+-----+------------+
|   DEST_COUNTRY_NAME|count|all the best|
+--------------------+-----+------------+
|       United States|    1|all the best|
|       United States|  252|all the best|
|               Egypt|   13|all the best|
|       United States|   62|all the best|
|       United States|   25|all the best|
|       United States|   46|all the best|
|          Costa Rica|  522|all the best|
|             Senegal|   31|all the best|
|              Guyana|   65|all the best|
|       United States|   30|all the best|
|       United States|  245|all the best|
|             Bolivia|   35|all the best|
|            Anguilla|   19|all the best|
|       United States|    5|all the best|
|       United States|    5|all the best|
|Turks and Caicos ...|  183|all the best|
|Saint Vincent and...|    6|all the best|
|               Italy|  381|all the best|
|            Pakistan|   12|all the best|
|       United States|  148|all the best|
+--------------------+-----+------------+
only showing top 20 rows

+--------------------+-----+------------+
|   DEST_COUNTRY_NAME|count|  new_column|
+--------------------+-----+------------+
|       United States|    1|all the best|
|       United States|  252|all the best|
|               Egypt|   13|all the best|
|       United States|   62|all the best|
|       United States|   25|all the best|
|       United States|   46|all the best|
|          Costa Rica|  522|all the best|
|             Senegal|   31|all the best|
|              Guyana|   65|all the best|
|       United States|   30|all the best|
|       United States|  245|all the best|
|             Bolivia|   35|all the best|
|            Anguilla|   19|all the best|
|       United States|    5|all the best|
|       United States|    5|all the best|
|Turks and Caicos ...|  183|all the best|
|Saint Vincent and...|    6|all the best|
|               Italy|  381|all the best|
|            Pakistan|   12|all the best|
|       United States|  148|all the best|
+--------------------+-----+------------+
only showing top 20 rows

In [0]:
#column add in dataframe
flightData3.withColumn("wishes",lit("all the best")).show()
flightData3.withColumn("wishes",lit("all the best"))\
.withColumn("value_count_10",col("count")-10).show()

+--------------------+-------------------+-----+------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|      wishes|
+--------------------+-------------------+-----+------------+
|       United States|            Croatia|    1|all the best|
|       United States|            Ireland|  252|all the best|
|               Egypt|      United States|   13|all the best|
|       United States|              India|   62|all the best|
|       United States|          Singapore|   25|all the best|
|       United States|            Grenada|   46|all the best|
|          Costa Rica|      United States|  522|all the best|
|             Senegal|      United States|   31|all the best|
|              Guyana|      United States|   65|all the best|
|       United States|   Marshall Islands|   30|all the best|
|       United States|       Sint Maarten|  245|all the best|
|             Bolivia|      United States|   35|all the best|
|            Anguilla|      United States|   19|all the best|
|       United States|           Paraguay|    5|all the best|
|       United States|        Afghanistan|    5|all the best|
|Turks and Caicos ...|      United States|  183|all the best|
|Saint Vincent and...|      United States|    6|all the best|
|               Italy|      United States|  381|all the best|
|            Pakistan|      United States|   12|all the best|
|       United States|             Russia|  148|all the best|
+--------------------+-------------------+-----+------------+
only showing top 20 rows

+--------------------+-------------------+-----+------------+--------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|      wishes|value_count_10|
+--------------------+-------------------+-----+------------+--------------+
|       United States|            Croatia|    1|all the best|            -9|
|       United States|            Ireland|  252|all the best|           242|
|               Egypt|      United States|   13|all the best|             3|
|       United States|              India|   62|all the best|            52|
|       United States|          Singapore|   25|all the best|            15|
|       United States|            Grenada|   46|all the best|            36|
|          Costa Rica|      United States|  522|all the best|           512|
|             Senegal|      United States|   31|all the best|            21|
|              Guyana|      United States|   65|all the best|            55|
|       United States|   Marshall Islands|   30|all the best|            20|
|       United States|       Sint Maarten|  245|all the best|           235|
|             Bolivia|      United States|   35|all the best|            25|
|            Anguilla|      United States|   19|all the best|             9|
|       United States|           Paraguay|    5|all the best|            -5|
|       United States|        Afghanistan|    5|all the best|            -5|
|Turks and Caicos ...|      United States|  183|all the best|           173|
|Saint Vincent and...|      United States|    6|all the best|            -4|
|               Italy|      United States|  381|all the best|           371|
|            Pakistan|      United States|   12|all the best|             2|
|       United States|             Russia|  148|all the best|           138|
+--------------------+-------------------+-----+------------+--------------+
only showing top 20 rows

In [0]:
#column rename in dataframe
flightData3.withColumnRenamed("count","count_renamed").show()

+--------------------+-------------------+-------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count_renamed|
+--------------------+-------------------+-------------+
|       United States|            Croatia|            1|
|       United States|            Ireland|          252|
|               Egypt|      United States|           13|
|       United States|              India|           62|
|       United States|          Singapore|           25|
|       United States|            Grenada|           46|
|          Costa Rica|      United States|          522|
|             Senegal|      United States|           31|
|              Guyana|      United States|           65|
|       United States|   Marshall Islands|           30|
|       United States|       Sint Maarten|          245|
|             Bolivia|      United States|           35|
|            Anguilla|      United States|           19|
|       United States|           Paraguay|            5|
|       United States|        Afghanistan|            5|
|Turks and Caicos ...|      United States|          183|
|Saint Vincent and...|      United States|            6|
|               Italy|      United States|          381|
|            Pakistan|      United States|           12|
|       United States|             Russia|          148|
+--------------------+-------------------+-------------+
only showing top 20 rows

In [0]:
# casting or changing data type of column in dataframe
flightData3.withColumn("count",col("count").cast("string")).printSchema()
flightData3.withColumn("count",col("count").cast("long")).printSchema()

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: string (nullable = true)

root
 |-- DEST_COUNTRY_NAME: string (nullable = true)
 |-- ORIGIN_COUNTRY_NAME: string (nullable = true)
 |-- count: long (nullable = true)

In [0]:
# column remove or dropping column from dataframe (column selecting we can use any method)
flightData3.drop("count",).show()
flightData3.drop("DEST_COUNTRY_NAME",col("count")).show()

+--------------------+-------------------+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+--------------------+-------------------+
|       United States|            Croatia|
|       United States|            Ireland|
|               Egypt|      United States|
|       United States|              India|
|       United States|          Singapore|
|       United States|            Grenada|
|          Costa Rica|      United States|
|             Senegal|      United States|
|              Guyana|      United States|
|       United States|   Marshall Islands|
|       United States|       Sint Maarten|
|             Bolivia|      United States|
|            Anguilla|      United States|
|       United States|           Paraguay|
|       United States|        Afghanistan|
|Turks and Caicos ...|      United States|
|Saint Vincent and...|      United States|
|               Italy|      United States|
|            Pakistan|      United States|
|       United States|             Russia|
+--------------------+-------------------+
only showing top 20 rows

+-------------------+
|ORIGIN_COUNTRY_NAME|
+-------------------+
|            Croatia|
|            Ireland|
|      United States|
|              India|
|          Singapore|
|            Grenada|
|      United States|
|      United States|
|      United States|
|   Marshall Islands|
|       Sint Maarten|
|      United States|
|      United States|
|           Paraguay|
|        Afghanistan|
|      United States|
|      United States|
|      United States|
|      United States|
|             Russia|
+-------------------+
only showing top 20 rows

In [0]:
#union and union all
data11=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(19 ,'Sohan',50000, 18)]

data12=[(19 ,'Sohan',50000, 18),
(20 ,'Sima',75000,  17)]
schemam=["id","name","sal","manager_id"]

data11df=spark.createDataFrame(data=data11,schema=schemam)
#data11df.show()
data12df=spark.createDataFrame(data=data12,schema=schemam)
#data12df.show()

#data11df.count()
#data12df.count()

data11df.union(data12df).count()
#data11df.unionAll(data12df).count()

#if we do union all through dataframe in spark then there is no difference between union and union all even for dublicates records union all will also result addtion of count in both dataframes 
#but in sql union will return unique rows only

Out[27]: 12

In [0]:
wrong_column_data=[(19 ,50000, 18,'Sohan'),
(20 ,75000,  17,'Sima')]
wrong_schema=["id","sal","manager_id","name"]
wrong_column_datadf=spark.createDataFrame(data=wrong_column_data,schema=wrong_schema)
wrong_column_datadf.show()
data11df.show()
data11df.union(wrong_column_datadf).show()
#even sequnce of columns will be here and there it will place data wrongly but not fail 
# it will fail when number of columns will not match or column name will not match

+---+-----+----------+-----+
| id|  sal|manager_id| name|
+---+-----+----------+-----+
| 19|50000|        18|Sohan|
| 20|75000|        17| Sima|
+---+-----+----------+-----+

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 10|  Anil|50000|        18|
| 11| Vikas|75000|        16|
| 12| Nisha|40000|        18|
| 13| Nidhi|60000|        17|
| 14| Priya|80000|        18|
| 15| Mohit|45000|        18|
| 16|Rajesh|90000|        10|
| 17| Raman|55000|        16|
| 18|   Sam|65000|        17|
| 19| Sohan|50000|        18|
+---+------+-----+----------+

In [0]:
data11df.unionByName(wrong_column_datadf).show()

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 10|  Anil|50000|        18|
| 11| Vikas|75000|        16|
| 12| Nisha|40000|        18|
| 13| Nidhi|60000|        17|
| 14| Priya|80000|        18|
| 15| Mohit|45000|        18|
| 16|Rajesh|90000|        10|
| 17| Raman|55000|        16|
| 18|   Sam|65000|        17|
| 19| Sohan|50000|        18|
| 19| Sohan|50000|        18|
| 20|  Sima|75000|        17|
+---+------+-----+----------+

In [0]:
# if else in spark
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]
emp_schema=["id","name","age","salary","country","department"]
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)
empdf.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country| department|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

emp_df.withColumn("age_wise", when (col("age")>18, "major")
                  .when(col("age")<18, "minor").otherwise("null")).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country| department|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|   major|
|   2|  rahul|null| 40000|germany|engineering|    null|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|   major|
|   5|raushan|  35| 70000|  india|      sales|   major|
|   6|   null|  29|200000|     uk|         IT|   major|
|   7|   adam|  37| 65000|     us|         IT|   major|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null|    null|
|   7|   adam|  37| 65000|     us|         IT|   major|
+----+-------+----+------+-------+-----------+--------+

In [0]:

#by spark sql method
emp_df.createOrReplaceTempView("empdata")
dfq=spark.sql("""
              select *,case when age> 18 then 'major'
            when age<18 then 'minor'
            else null end as age_wise from empdata """).show()

+----+-------+----+------+-------+-----------+--------+
|  id|   name| age|salary|country| department|age_wise|
+----+-------+----+------+-------+-----------+--------+
|   1| manish|  26| 20000|  india|         IT|   major|
|   2|  rahul|null| 40000|germany|engineering|    null|
|   3|  pawan|  12| 60000|  india|      sales|   minor|
|   4|roshini|  44|  null|     uk|engineering|   major|
|   5|raushan|  35| 70000|  india|      sales|   major|
|   6|   null|  29|200000|     uk|         IT|   major|
|   7|   adam|  37| 65000|     us|         IT|   major|
|   8|  chris|  16| 40000|     us|      sales|   minor|
|null|   null|null|  null|   null|       null|    null|
|   7|   adam|  37| 65000|     us|         IT|   major|
+----+-------+----+------+-------+-----------+--------+

In [0]:
#selecting distinct in spark
data111=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(19 ,'Sohan',50000, 18),
(19 ,'Sohan',50000, 18),
(15 ,'Mohit',45000,  18)]

schemamm=["id","name","sal","manager_id"]

data111df=spark.createDataFrame(data=data111,schema=schemamm)
data111df.count()

Out[47]: 12

In [0]:
data111df.distinct().count()

Out[48]: 10

In [0]:
data111df.select("id","name").distinct().show()

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 10|  Anil|50000|        18|
| 12| Nisha|40000|        18|
| 11| Vikas|75000|        16|
| 13| Nidhi|60000|        17|
| 15| Mohit|45000|        18|
| 14| Priya|80000|        18|
| 16|Rajesh|90000|        10|
| 18|   Sam|65000|        17|
| 17| Raman|55000|        16|
| 19| Sohan|50000|        18|
+---+------+-----+----------+

In [0]:
data111df.dropDuplicates(["id","name","sal","manager_id"]).show()

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 10|  Anil|50000|        18|
| 12| Nisha|40000|        18|
| 11| Vikas|75000|        16|
| 13| Nidhi|60000|        17|
| 15| Mohit|45000|        18|
| 14| Priya|80000|        18|
| 16|Rajesh|90000|        10|
| 18|   Sam|65000|        17|
| 17| Raman|55000|        16|
| 19| Sohan|50000|        18|
+---+------+-----+----------+

In [0]:
# sorting data in asc and desc in spark

data111df.sort(col("id").desc()).show()
data111df.sort(col("id").desc(),col("name").desc()).show()

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 19| Sohan|50000|        18|
| 19| Sohan|50000|        18|
| 18|   Sam|65000|        17|
| 17| Raman|55000|        16|
| 16|Rajesh|90000|        10|
| 15| Mohit|45000|        18|
| 15| Mohit|45000|        18|
| 14| Priya|80000|        18|
| 13| Nidhi|60000|        17|
| 12| Nisha|40000|        18|
| 11| Vikas|75000|        16|
| 10|  Anil|50000|        18|
+---+------+-----+----------+

+---+------+-----+----------+
| id|  name|  sal|manager_id|
+---+------+-----+----------+
| 19| Sohan|50000|        18|
| 19| Sohan|50000|        18|
| 18|   Sam|65000|        17|
| 17| Raman|55000|        16|
| 16|Rajesh|90000|        10|
| 15| Mohit|45000|        18|
| 15| Mohit|45000|        18|
| 14| Priya|80000|        18|
| 13| Nidhi|60000|        17|
| 12| Nisha|40000|        18|
| 11| Vikas|75000|        16|
| 10|  Anil|50000|        18|
+---+------+-----+----------+

In [0]:
#aggregation in spark
# if else in spark
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]
emp_schema=["id","name","age","salary","country","department"]
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary|country| department|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

In [0]:
emp_df.count()
#here count is action

Out[4]: 10

In [0]:
emp_df.select(count("name"))
# here count is transformation only

Out[7]: DataFrame[count(name): bigint]

In [0]:
emp_df.select(count("name")).show()
# if we run count on one colum it skips null value present in that colum  and gives count while doing count * or 1 it did not skips null rows

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
emp_df.select(count(col("name"))).show()

+-----------+
|count(name)|
+-----------+
|          8|
+-----------+

In [0]:
emp_df.select(count("name"),min("salary"),max("salary"),avg("salary")).show()

+-----------+-----------+-----------+-----------+
|count(name)|min(salary)|max(salary)|avg(salary)|
+-----------+-----------+-----------+-----------+
|          8|      20000|     200000|    70000.0|
+-----------+-----------+-----------+-----------+

In [0]:
emp_df.select(count("name").alias("count_name"),min("salary").alias("min_salary"),max("salary").alias("max_salary"),avg("salary").alias("avg_salary")).show()

+----------+----------+----------+----------+
|count_name|min_salary|max_salary|avg_salary|
+----------+----------+----------+----------+
|         8|     20000|    200000|   70000.0|
+----------+----------+----------+----------+

In [0]:
#group by in spark
emp_df.groupBy("department")\
    .agg(sum("salary")).show()

+-----------+-----------+
| department|sum(salary)|
+-----------+-----------+
|         IT|     350000|
|engineering|      40000|
|      sales|     170000|
|       null|       null|
+-----------+-----------+

In [0]:
#group by in spark
emp_df.groupBy("department","country")\
    .agg(sum("salary"),count("name")).show()

+-----------+-------+-----------+-----------+
| department|country|sum(salary)|count(name)|
+-----------+-------+-----------+-----------+
|         IT|  india|      20000|          1|
|engineering|germany|      40000|          1|
|      sales|  india|     130000|          2|
|engineering|     uk|       null|          1|
|         IT|     uk|     200000|          0|
|         IT|     us|     130000|          2|
|      sales|     us|      40000|          1|
|       null|   null|       null|          0|
+-----------+-------+-----------+-----------+

In [0]:
#joins

customer_data = [(1,'manish','patna',"30-05-2022"),
(2,'vikash','kolkata',"12-03-2023"),
(3,'nikita','delhi',"25-06-2023"),
(4,'rahul','ranchi',"24-03-2023"),
(5,'mahesh','jaipur',"22-03-2023"),
(6,'prantosh','kolkata',"18-10-2022"),
(7,'raman','patna',"30-12-2022"),
(8,'prakash','ranchi',"24-02-2023"),
(9,'ragini','kolkata',"03-03-2023"),
(10,'raushan','jaipur',"05-02-2023")]

customer_schema=['customer_id','customer_name','address','date_of_joining']


sales_data = [(1,22,10,"01-06-2022"),
(1,27,5,"03-02-2023"),
(2,5,3,"01-06-2023"),
(5,22,1,"22-03-2023"),
(7,22,4,"03-02-2023"),
(9,5,6,"03-03-2023"),
(2,1,12,"15-06-2023"),
(1,56,2,"25-06-2023"),
(5,12,5,"15-04-2023"),
(11,12,76,"12-03-2023")]

sales_schema=['customer_id','product_id','quantity','date_of_purchase']


product_data = [(1, 'fanta',20),
(2, 'dew',22),
(5, 'sprite',40),
(7, 'redbull',100),
(12,'mazza',45),
(22,'coke',27),
(25,'limca',21),
(27,'pepsi',14),
(56,'sting',10)]

product_schema=['id','name','price']

customer_df=spark.createDataFrame(data=customer_data,schema=customer_schema)
sales_df=spark.createDataFrame(data=sales_data,schema=sales_schema)
product_df=spark.createDataFrame(data=product_data,schema=product_schema)
customer_df.show()
sales_df.show()
product_df.show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          3|       nikita|  delhi|     25-06-2023|
|          4|        rahul| ranchi|     24-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|
|          7|        raman|  patna|     30-12-2022|
|          8|      prakash| ranchi|     24-02-2023|
|          9|       ragini|kolkata|     03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|
+-----------+-------------+-------+---------------+

+-----------+----------+--------+----------------+
|customer_id|product_id|quantity|date_of_purchase|
+-----------+----------+--------+----------------+
|          1|        22|      10|      01-06-2022|
|          1|        27|       5|      03-02-2023|
|          2|         5|       3|      01-06-2023|
|          5|        22|       1|      22-03-2023|
|          7|        22|       4|      03-02-2023|
|          9|         5|       6|      03-03-2023|
|          2|         1|      12|      15-06-2023|
|          1|        56|       2|      25-06-2023|
|          5|        12|       5|      15-04-2023|
|         11|        12|      76|      12-03-2023|
+-----------+----------+--------+----------------+

+---+-------+-----+
| id|   name|price|
+---+-------+-----+
|  1|  fanta|   20|
|  2|    dew|   22|
|  5| sprite|   40|
|  7|redbull|  100|
| 12|  mazza|   45|
| 22|   coke|   27|
| 25|  limca|   21|
| 27|  pepsi|   14|
| 56|  sting|   10|
+---+-------+-----+

In [0]:
df1.join(df2,df2["joined column"]==df1["joined column"],"jointype").show()

In [0]:
# inner join the bas of one column 
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"inner").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
# inner join the bas of more than column 
customer_df.join(sales_df,(sales_df["customer_id"]==customer_df["customer_id"]) & (sales_df["product_id"]==customer_df["product_id"]),"inner").select(sales_df["product_id"]).sort("product_id").show()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<command-1780351459353938>", line 2, in <module>
    customer_df.join(sales_df,(sales_df["customer_id"]==customer_df["customer_id"]) & (sales_df["product_id"]==customer_df["product_id"]),"inner").select(sales_df["product_id"]).sort("product_id").show()
  File "/databricks/spark/python/pyspark/instrumentation_utils.py", line 48, in wrapper
    res = func(*args, **kwargs)
  File "/databricks/spark/python/pyspark/sql/dataframe.py", line 2918, in __getitem__
    jc = self._jdf.apply(item)
  File "/databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py", line 1321, in __call__
    return_value = get_return_value(
  File "/databricks/spark/python/pyspark/errors/exceptions.py", line 234, in deco
    raise converted from None
pyspark.errors.exceptions.AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `product_id` cannot be resolved. Did you mean one of the following? [`customer_id`, `customer_name`, `address`, `date_of_joining`].

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/databricks/python/lib/python3.9/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/databricks/python/lib/python3.9/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
  File "/databricks/python/lib/python3.9/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [0]:
# left join the bas of one column 
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
# right join the bas of one column 
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"right").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
# outer join the bas of one column 
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"outer").show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          3|       nikita|  delhi|     25-06-2023|       null|      null|    null|            null|
|          4|        rahul| ranchi|     24-03-2023|       null|      null|    null|            null|
|          5|       mahesh| jaipur|     22-03-2023|          5|        22|       1|      22-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|          5|        12|       5|      15-04-2023|
|          6|     prantosh|kolkata|     18-10-2022|       null|      null|    null|            null|
|          7|        raman|  patna|     30-12-2022|          7|        22|       4|      03-02-2023|
|          8|      prakash| ranchi|     24-02-2023|       null|      null|    null|            null|
|          9|       ragini|kolkata|     03-03-2023|          9|         5|       6|      03-03-2023|
|         10|      raushan| jaipur|     05-02-2023|       null|      null|    null|            null|
|       null|         null|   null|           null|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+

In [0]:
# left_semi join the bas of one column 
# pick only left table data matching only
customer_df.join(sales_df,sales_df["customer_id"]==customer_df["customer_id"],"left_semi").show()

+-----------+-------------+-------+---------------+
|customer_id|customer_name|address|date_of_joining|
+-----------+-------------+-------+---------------+
|          1|       manish|  patna|     30-05-2022|
|          2|       vikash|kolkata|     12-03-2023|
|          5|       mahesh| jaipur|     22-03-2023|
|          7|        raman|  patna|     30-12-2022|
|          9|       ragini|kolkata|     03-03-2023|
+-----------+-------------+-------+---------------+

In [0]:
customer_df.crossJoin(sales_df).show()

+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|customer_id|customer_name|address|date_of_joining|customer_id|product_id|quantity|date_of_purchase|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
|          1|       manish|  patna|     30-05-2022|          1|        22|      10|      01-06-2022|
|          1|       manish|  patna|     30-05-2022|          1|        27|       5|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          2|         5|       3|      01-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        22|       1|      22-03-2023|
|          1|       manish|  patna|     30-05-2022|          7|        22|       4|      03-02-2023|
|          1|       manish|  patna|     30-05-2022|          9|         5|       6|      03-03-2023|
|          1|       manish|  patna|     30-05-2022|          2|         1|      12|      15-06-2023|
|          1|       manish|  patna|     30-05-2022|          1|        56|       2|      25-06-2023|
|          1|       manish|  patna|     30-05-2022|          5|        12|       5|      15-04-2023|
|          1|       manish|  patna|     30-05-2022|         11|        12|      76|      12-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        22|      10|      01-06-2022|
|          2|       vikash|kolkata|     12-03-2023|          1|        27|       5|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         5|       3|      01-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        22|       1|      22-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          7|        22|       4|      03-02-2023|
|          2|       vikash|kolkata|     12-03-2023|          9|         5|       6|      03-03-2023|
|          2|       vikash|kolkata|     12-03-2023|          2|         1|      12|      15-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          1|        56|       2|      25-06-2023|
|          2|       vikash|kolkata|     12-03-2023|          5|        12|       5|      15-04-2023|
|          2|       vikash|kolkata|     12-03-2023|         11|        12|      76|      12-03-2023|
+-----------+-------------+-------+---------------+-----------+----------+--------+----------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import *
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=["id","name","salary","dept","gender"]
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df.show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

Group by

In [0]:
# group by will give only those columns which are there in grouping with aggregation result
#  what if we need all the columns present in the tables in select statement the either we need to use window function or this group by result again need to join with original table and take all colummns from there 
emp_df.groupBy("dept").agg(sum("salary")).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     345000|
|marketing|     220000|
|    sales|     240000|
+---------+-----------+

window function

In [0]:

# group by will give only those columns which are there in grouping and then the aggregation what if we need all the columns present in the tables in select statement the either we need to use window function or this group by result again need to join with original table and take all colummns from there 

# window function provide a seperate window on the basis for key given for that window or that partiotion key now on that window we can perform aggregations on the basis od sum column and add that value in a addition column for each row 
from pyspark.sql.window import *
window=Window.partitionBy("col").orderBy("col")
your_df=yourdf.withColumn("total_sal",sum("salary")).over(window)
emp_df.show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2697387482554554>:4
      2 from pyspark.sql.window import *
      3 window=Window.partitionBy("col").orderBy("col")
----> 4 emp_df=emp_df.withcolumn("columnname",aggregation).over(window)
      5 emp_df.show

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2964, in DataFrame.__getattr__(self, name)
   2934 """Returns the :class:`Column` denoted by ``name``.
   2935
   2936 .. versionadded:: 1.3.0
   (...)
   2961 +---+
   2962 """
   2963 if name not in self.columns:
-> 2964     raise AttributeError(
   2965         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   2966     )
   2967 jc = self._jdf.apply(name)
   2968 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'withcolumn'

In [0]:
from pyspark.sql.window import *
window=Window.partitionBy("dept")
emp_df=emp_df.withColumn("total_sal",sum(col("salary")).over(window))
emp_df.show()

+---+--------+------+---------+------+---------+
| id|    name|salary|     dept|gender|total_sal|
+---+--------+------+---------+------+---------+
|  1|  manish| 50000|       IT|     m|   345000|
|  4|  mukesh| 80000|       IT|     m|   345000|
|  8|   rashi|100000|       IT|     f|   345000|
|  9|  aditya| 65000|       IT|     m|   345000|
| 11|   rakhi| 50000|       IT|     f|   345000|
|  3| raushan| 70000|marketing|     m|   220000|
|  6|  nikita| 45000|marketing|     f|   220000|
|  7|  ragini| 55000|marketing|     f|   220000|
| 10|   rahul| 50000|marketing|     m|   220000|
|  2|  vikash| 60000|    sales|     m|   240000|
|  5|   priti| 90000|    sales|     f|   240000|
| 12|akhilesh| 90000|    sales|     m|   240000|
+---+--------+------+---------+------+---------+

In [0]:
# row number provides a unique value (rank) for each raw 
# rank provide rank for each row and if some value on the basis of which order by is happening it will dublictae then rank and provide a gap for next rank 
# dense rank provide a rank for each row if some value on the basis of which order by is happening it will dublictae then dense dublicate the rank and next rank will start just after previous rank no gap for dublicates

In [0]:
from pyspark.sql.window import *
window=Window.partitionBy("dept").orderBy("salary")
df1=emp_df.withColumn("Row_Number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_Rank",dense_rank().over(window))
df1.show()

+---+--------+------+---------+------+----------+----+----------+
| id|    name|salary|     dept|gender|Row_Number|Rank|Dense_Rank|
+---+--------+------+---------+------+----------+----+----------+
|  1|  manish| 50000|       IT|     m|         1|   1|         1|
| 11|   rakhi| 50000|       IT|     f|         2|   1|         1|
|  9|  aditya| 65000|       IT|     m|         3|   3|         2|
|  4|  mukesh| 80000|       IT|     m|         4|   4|         3|
|  8|   rashi|100000|       IT|     f|         5|   5|         4|
|  6|  nikita| 45000|marketing|     f|         1|   1|         1|
| 10|   rahul| 50000|marketing|     m|         2|   2|         2|
|  7|  ragini| 55000|marketing|     f|         3|   3|         3|
|  3| raushan| 70000|marketing|     m|         4|   4|         4|
|  2|  vikash| 60000|    sales|     m|         1|   1|         1|
|  5|   priti| 90000|    sales|     f|         2|   2|         2|
| 12|akhilesh| 90000|    sales|     m|         3|   2|         2|
+---+--------+------+---------+------+----------+----+----------+

In [0]:
from pyspark.sql.window import *
window=Window.partitionBy("dept","gender").orderBy("salary")
new_df=emp_df.withColumn("Row_Number",row_number().over(window))\
    .withColumn("Rank",rank().over(window))\
    .withColumn("Dense_Rank",dense_rank().over(window))
new_df.show()

+---+--------+------+---------+------+----------+----+----------+
| id|    name|salary|     dept|gender|Row_Number|Rank|Dense_Rank|
+---+--------+------+---------+------+----------+----+----------+
| 11|   rakhi| 50000|       IT|     f|         1|   1|         1|
|  8|   rashi|100000|       IT|     f|         2|   2|         2|
|  1|  manish| 50000|       IT|     m|         1|   1|         1|
|  9|  aditya| 65000|       IT|     m|         2|   2|         2|
|  4|  mukesh| 80000|       IT|     m|         3|   3|         3|
|  6|  nikita| 45000|marketing|     f|         1|   1|         1|
|  7|  ragini| 55000|marketing|     f|         2|   2|         2|
| 10|   rahul| 50000|marketing|     m|         1|   1|         1|
|  3| raushan| 70000|marketing|     m|         2|   2|         2|
|  5|   priti| 90000|    sales|     f|         1|   1|         1|
|  2|  vikash| 60000|    sales|     m|         1|   1|         1|
| 12|akhilesh| 90000|    sales|     m|         2|   2|         2|
+---+--------+------+---------+------+----------+----+----------+

In [0]:
# top two employees from each department 
from pyspark.sql.window import *
emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=["id","name","salary","dept","gender"]
emp_df=spark.createDataFrame(data=emp_data,schema=emp_schema)
window=Window.partitionBy("dept").orderBy(desc("salary"))
top_df=emp_df.withColumn("Dense_Rank",dense_rank().over(window)).filter(col("Dense_Rank")<=2)
top_df.show()

+---+--------+------+---------+------+----------+
| id|    name|salary|     dept|gender|Dense_Rank|
+---+--------+------+---------+------+----------+
|  8|   rashi|100000|       IT|     f|         1|
|  4|  mukesh| 80000|       IT|     m|         2|
|  3| raushan| 70000|marketing|     m|         1|
|  7|  ragini| 55000|marketing|     f|         2|
|  5|   priti| 90000|    sales|     f|         1|
| 12|akhilesh| 90000|    sales|     m|         1|
|  2|  vikash| 60000|    sales|     m|         2|
+---+--------+------+---------+------+----------+

In [0]:

product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=['product_id','product_name','sales_date','sales']


emp_data = [(1,'manish',50000,'IT','m'),
(2,'vikash',60000,'sales','m'),
(3,'raushan',70000,'marketing','m'),
(4,'mukesh',80000,'IT','m'),
(5,'priti',90000,'sales','f'),
(6,'nikita',45000,'marketing','f'),
(7,'ragini',55000,'marketing','f'),
(8,'rashi',100000,'IT','f'),
(9,'aditya',65000,'IT','m'),
(10,'rahul',50000,'marketing','m'),
(11,'rakhi',50000,'IT','f'),
(12,'akhilesh',90000,'sales','m')]

emp_schema=['id','name','salary','dept','gender']
product_df=spark.createDataFrame(data=product_data,schema=product_schema)
emp_df = spark.createDataFrame(data=emp_data,schema=emp_schema)
emp_df.show()
product_df.show()

+---+--------+------+---------+------+
| id|    name|salary|     dept|gender|
+---+--------+------+---------+------+
|  1|  manish| 50000|       IT|     m|
|  2|  vikash| 60000|    sales|     m|
|  3| raushan| 70000|marketing|     m|
|  4|  mukesh| 80000|       IT|     m|
|  5|   priti| 90000|    sales|     f|
|  6|  nikita| 45000|marketing|     f|
|  7|  ragini| 55000|marketing|     f|
|  8|   rashi|100000|       IT|     f|
|  9|  aditya| 65000|       IT|     m|
| 10|   rahul| 50000|marketing|     m|
| 11|   rakhi| 50000|       IT|     f|
| 12|akhilesh| 90000|    sales|     m|
+---+--------+------+---------+------+

+----------+------------+----------+-------+
|product_id|product_name|sales_date|  sales|
+----------+------------+----------+-------+
|         1|      iphone|01-01-2023|1500000|
|         2|     samsung|01-01-2023|1100000|
|         3|     oneplus|01-01-2023|1100000|
|         1|      iphone|01-02-2023|1300000|
|         2|     samsung|01-02-2023|1120000|
|         3|     oneplus|01-02-2023|1120000|
|         1|      iphone|01-03-2023|1600000|
|         2|     samsung|01-03-2023|1080000|
|         3|     oneplus|01-03-2023|1160000|
|         1|      iphone|01-04-2023|1700000|
|         2|     samsung|01-04-2023|1800000|
|         3|     oneplus|01-04-2023|1170000|
|         1|      iphone|01-05-2023|1200000|
|         2|     samsung|01-05-2023| 980000|
|         3|     oneplus|01-05-2023|1175000|
|         1|      iphone|01-06-2023|1100000|
|         2|     samsung|01-06-2023|1100000|
|         3|     oneplus|01-06-2023|1200000|
+----------+------------+----------+-------+

In [0]:
window=Window.partitionBy("product_name").orderBy("sales_date")
last_month_df=product_df.withColumn("last_month_sales",lag(col("sales"),1).over(window))
last_month_df.show()

+----------+------------+----------+-------+----------------+
|product_id|product_name|sales_date|  sales|last_month_sales|
+----------+------------+----------+-------+----------------+
|         1|      iphone|01-01-2023|1500000|            null|
|         1|      iphone|01-02-2023|1300000|         1500000|
|         1|      iphone|01-03-2023|1600000|         1300000|
|         1|      iphone|01-04-2023|1700000|         1600000|
|         1|      iphone|01-05-2023|1200000|         1700000|
|         1|      iphone|01-06-2023|1100000|         1200000|
|         3|     oneplus|01-01-2023|1100000|            null|
|         3|     oneplus|01-02-2023|1120000|         1100000|
|         3|     oneplus|01-03-2023|1160000|         1120000|
|         3|     oneplus|01-04-2023|1170000|         1160000|
|         3|     oneplus|01-05-2023|1175000|         1170000|
|         3|     oneplus|01-06-2023|1200000|         1175000|
|         2|     samsung|01-01-2023|1100000|            null|
|         2|     samsung|01-02-2023|1120000|         1100000|
|         2|     samsung|01-03-2023|1080000|         1120000|
|         2|     samsung|01-04-2023|1800000|         1080000|
|         2|     samsung|01-05-2023| 980000|         1800000|
|         2|     samsung|01-06-2023|1100000|          980000|
+----------+------------+----------+-------+----------------+

In [0]:
p_df=last_month_df.withColumn("profit_or_loss_percentage",((col("sales")-col("last_month_sales"))/col("sales")*100))
p_df.show()

+----------+------------+----------+-------+----------------+-------------------------+
|product_id|product_name|sales_date|  sales|last_month_sales|profit_or_loss_percentage|
+----------+------------+----------+-------+----------------+-------------------------+
|         1|      iphone|01-01-2023|1500000|            null|                     null|
|         1|      iphone|01-02-2023|1300000|         1500000|      -15.384615384615385|
|         1|      iphone|01-03-2023|1600000|         1300000|                    18.75|
|         1|      iphone|01-04-2023|1700000|         1600000|         5.88235294117647|
|         1|      iphone|01-05-2023|1200000|         1700000|       -41.66666666666667|
|         1|      iphone|01-06-2023|1100000|         1200000|       -9.090909090909092|
|         3|     oneplus|01-01-2023|1100000|            null|                     null|
|         3|     oneplus|01-02-2023|1120000|         1100000|       1.7857142857142856|
|         3|     oneplus|01-03-2023|1160000|         1120000|       3.4482758620689653|
|         3|     oneplus|01-04-2023|1170000|         1160000|       0.8547008547008548|
|         3|     oneplus|01-05-2023|1175000|         1170000|        0.425531914893617|
|         3|     oneplus|01-06-2023|1200000|         1175000|        2.083333333333333|
|         2|     samsung|01-01-2023|1100000|            null|                     null|
|         2|     samsung|01-02-2023|1120000|         1100000|       1.7857142857142856|
|         2|     samsung|01-03-2023|1080000|         1120000|      -3.7037037037037033|
|         2|     samsung|01-04-2023|1800000|         1080000|                     40.0|
|         2|     samsung|01-05-2023| 980000|         1800000|        -83.6734693877551|
|         2|     samsung|01-06-2023|1100000|          980000|       10.909090909090908|
+----------+------------+----------+-------+----------------+-------------------------+

In [0]:
p_df=last_month_df.withColumn("profit_or_loss_percentage",((col("sales")-col("last_month_sales"))/col("sales")*100))\

+----------+------------+----------+-------+----------------+-------------------------+
|product_id|product_name|sales_date|  sales|last_month_sales|profit_or_loss_percentage|
+----------+------------+----------+-------+----------------+-------------------------+
|         1|      iphone|01-01-2023|1500000|            null|                     null|
|         1|      iphone|01-02-2023|1300000|         1500000|      -15.384615384615385|
|         1|      iphone|01-03-2023|1600000|         1300000|                    18.75|
|         1|      iphone|01-04-2023|1700000|         1600000|         5.88235294117647|
|         1|      iphone|01-05-2023|1200000|         1700000|       -41.66666666666667|
|         1|      iphone|01-06-2023|1100000|         1200000|       -9.090909090909092|
|         3|     oneplus|01-01-2023|1100000|            null|                     null|
|         3|     oneplus|01-02-2023|1120000|         1100000|       1.7857142857142856|
|         3|     oneplus|01-03-2023|1160000|         1120000|       3.4482758620689653|
|         3|     oneplus|01-04-2023|1170000|         1160000|       0.8547008547008548|
|         3|     oneplus|01-05-2023|1175000|         1170000|        0.425531914893617|
|         3|     oneplus|01-06-2023|1200000|         1175000|        2.083333333333333|
|         2|     samsung|01-01-2023|1100000|            null|                     null|
|         2|     samsung|01-02-2023|1120000|         1100000|       1.7857142857142856|
|         2|     samsung|01-03-2023|1080000|         1120000|      -3.7037037037037033|
|         2|     samsung|01-04-2023|1800000|         1080000|                     40.0|
|         2|     samsung|01-05-2023| 980000|         1800000|        -83.6734693877551|
|         2|     samsung|01-06-2023|1100000|          980000|       10.909090909090908|
+----------+------------+----------+-------+----------------+-------------------------+

In [0]:
from pyspark.sql.window import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

product_data = [
(1,"iphone","01-01-2023",1500000),
(2,"samsung","01-01-2023",1100000),
(3,"oneplus","01-01-2023",1100000),
(1,"iphone","01-02-2023",1300000),
(2,"samsung","01-02-2023",1120000),
(3,"oneplus","01-02-2023",1120000),
(1,"iphone","01-03-2023",1600000),
(2,"samsung","01-03-2023",1080000),
(3,"oneplus","01-03-2023",1160000),
(1,"iphone","01-04-2023",1700000),
(2,"samsung","01-04-2023",1800000),
(3,"oneplus","01-04-2023",1170000),
(1,"iphone","01-05-2023",1200000),
(2,"samsung","01-05-2023",980000),
(3,"oneplus","01-05-2023",1175000),
(1,"iphone","01-06-2023",1100000),
(2,"samsung","01-06-2023",1100000),
(3,"oneplus","01-06-2023",1200000)
]

product_schema=['product_id','product_name','sales_date','sales']


product_df=spark.createDataFrame(data=product_data,schema=product_schema)
window=Window.partitionBy("product_name").orderBy("sales_date")
fisrst_df=product_df.withColumn("firstvalue",first("sales").over(window))
fisrst_df.show()

+----------+------------+----------+-------+----------+
|product_id|product_name|sales_date|  sales|firstvalue|
+----------+------------+----------+-------+----------+
|         1|      iphone|01-01-2023|1500000|   1500000|
|         1|      iphone|01-02-2023|1300000|   1500000|
|         1|      iphone|01-03-2023|1600000|   1500000|
|         1|      iphone|01-04-2023|1700000|   1500000|
|         1|      iphone|01-05-2023|1200000|   1500000|
|         1|      iphone|01-06-2023|1100000|   1500000|
|         3|     oneplus|01-01-2023|1100000|   1100000|
|         3|     oneplus|01-02-2023|1120000|   1100000|
|         3|     oneplus|01-03-2023|1160000|   1100000|
|         3|     oneplus|01-04-2023|1170000|   1100000|
|         3|     oneplus|01-05-2023|1175000|   1100000|
|         3|     oneplus|01-06-2023|1200000|   1100000|
|         2|     samsung|01-01-2023|1100000|   1100000|
|         2|     samsung|01-02-2023|1120000|   1100000|
|         2|     samsung|01-03-2023|1080000|   1100000|
|         2|     samsung|01-04-2023|1800000|   1100000|
|         2|     samsung|01-05-2023| 980000|   1100000|
|         2|     samsung|01-06-2023|1100000|   1100000|
+----------+------------+----------+-------+----------+

In [0]:
window=Window.partitionBy("product_name").orderBy("sales_date").rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)
fisrst_df=product_df.withColumn("firstvalue",first("sales").over(window))\
    .withColumn("lastvalue",last("sales").over(window))
fisrst_df.show()

+----------+------------+----------+-------+----------+---------+
|product_id|product_name|sales_date|  sales|firstvalue|lastvalue|
+----------+------------+----------+-------+----------+---------+
|         1|      iphone|01-01-2023|1500000|   1500000|  1100000|
|         1|      iphone|01-02-2023|1300000|   1500000|  1100000|
|         1|      iphone|01-03-2023|1600000|   1500000|  1100000|
|         1|      iphone|01-04-2023|1700000|   1500000|  1100000|
|         1|      iphone|01-05-2023|1200000|   1500000|  1100000|
|         1|      iphone|01-06-2023|1100000|   1500000|  1100000|
|         3|     oneplus|01-01-2023|1100000|   1100000|  1200000|
|         3|     oneplus|01-02-2023|1120000|   1100000|  1200000|
|         3|     oneplus|01-03-2023|1160000|   1100000|  1200000|
|         3|     oneplus|01-04-2023|1170000|   1100000|  1200000|
|         3|     oneplus|01-05-2023|1175000|   1100000|  1200000|
|         3|     oneplus|01-06-2023|1200000|   1100000|  1200000|
|         2|     samsung|01-01-2023|1100000|   1100000|  1100000|
|         2|     samsung|01-02-2023|1120000|   1100000|  1100000|
|         2|     samsung|01-03-2023|1080000|   1100000|  1100000|
|         2|     samsung|01-04-2023|1800000|   1100000|  1100000|
|         2|     samsung|01-05-2023| 980000|   1100000|  1100000|
|         2|     samsung|01-06-2023|1100000|   1100000|  1100000|
+----------+------------+----------+-------+----------+---------+

In [0]:
#json flattning
jsonData = spark.read.format("json")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","true")\
.option("multiline","true")\
.load("/FileStore/tables/resturant_json_data.json")

jsonData.show()

+----+-------+--------------------+-------------+-------------+-------------+------+
|code|message|         restaurants|results_found|results_shown|results_start|status|
+----+-------+--------------------+-------------+-------------+-------------+------+
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17066603}, b9...|         6835|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17093124}, b9...|         8680|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17580142}, b9...|          943|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17284158}, b9...|          257|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17678233}, b9...|          358|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17375047}, b9...|          641|           20|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|                  []|            0|            0|            1|  null|
|null|   null|[{{{17616590}, b9...|         1613|           20|            1|  null|
+----+-------+--------------------+-------------+-------------+-------------+------+
only showing top 20 rows

In [0]:
jsonData.printSchema()
#whenever data type will be array then we need to do flattnaning of that json if data type is struct then we can access any column inside that struct with dot 
# whereever data type will be array we need to exploide that much times

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)

In [0]:
from pyspark.sql.window import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
jsonData.select("*",explode("restaurants").alias("new_restaurants")).printSchema()

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- restaurants: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- restaurant: struct (nullable = true)
 |    |    |    |-- R: struct (nullable = true)
 |    |    |    |    |-- res_id: long (nullable = true)
 |    |    |    |-- apikey: string (nullable = true)
 |    |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |    |-- cuisines: string (nullable = true)
 |    |    |    |-- currency: string (nullable = true)
 |    |    |    |-- deeplink: string (nullable = true)
 |    |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- events_url: string (nullable = true)
 |    |    |    |-- featured_image: string (nullable = true)
 |    |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |    |-- has_table_booking: long (nullable = true)
 |    |    |    |-- id: string (nullable = true)
 |    |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |    |-- location: struct (nullable = true)
 |    |    |    |    |-- address: string (nullable = true)
 |    |    |    |    |-- city: string (nullable = true)
 |    |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |    |-- locality: string (nullable = true)
 |    |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |    |-- zipcode: string (nullable = true)
 |    |    |    |-- menu_url: string (nullable = true)
 |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- offers: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- photos_url: string (nullable = true)
 |    |    |    |-- price_range: long (nullable = true)
 |    |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |    |-- thumb: string (nullable = true)
 |    |    |    |-- url: string (nullable = true)
 |    |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |    |-- votes: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_restaurants: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)

In [0]:
from pyspark.sql.window import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
jsonData.select("*",explode(" ").alias("new_restaurants")).drop("restaurants").printSchema()
#now new restaurant data type is struct now if we have to select any column inside many  structs we can select with dot inside dot inside go til; that column

root
 |-- code: long (nullable = true)
 |-- message: string (nullable = true)
 |-- results_found: long (nullable = true)
 |-- results_shown: long (nullable = true)
 |-- results_start: string (nullable = true)
 |-- status: string (nullable = true)
 |-- new_restaurants: struct (nullable = true)
 |    |-- restaurant: struct (nullable = true)
 |    |    |-- R: struct (nullable = true)
 |    |    |    |-- res_id: long (nullable = true)
 |    |    |-- apikey: string (nullable = true)
 |    |    |-- average_cost_for_two: long (nullable = true)
 |    |    |-- cuisines: string (nullable = true)
 |    |    |-- currency: string (nullable = true)
 |    |    |-- deeplink: string (nullable = true)
 |    |    |-- establishment_types: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- events_url: string (nullable = true)
 |    |    |-- featured_image: string (nullable = true)
 |    |    |-- has_online_delivery: long (nullable = true)
 |    |    |-- has_table_booking: long (nullable = true)
 |    |    |-- id: string (nullable = true)
 |    |    |-- is_delivering_now: long (nullable = true)
 |    |    |-- location: struct (nullable = true)
 |    |    |    |-- address: string (nullable = true)
 |    |    |    |-- city: string (nullable = true)
 |    |    |    |-- city_id: long (nullable = true)
 |    |    |    |-- country_id: long (nullable = true)
 |    |    |    |-- latitude: string (nullable = true)
 |    |    |    |-- locality: string (nullable = true)
 |    |    |    |-- locality_verbose: string (nullable = true)
 |    |    |    |-- longitude: string (nullable = true)
 |    |    |    |-- zipcode: string (nullable = true)
 |    |    |-- menu_url: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |    |    |-- offers: array (nullable = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |    |-- photos_url: string (nullable = true)
 |    |    |-- price_range: long (nullable = true)
 |    |    |-- switch_to_order_menu: long (nullable = true)
 |    |    |-- thumb: string (nullable = true)
 |    |    |-- url: string (nullable = true)
 |    |    |-- user_rating: struct (nullable = true)
 |    |    |    |-- aggregate_rating: string (nullable = true)
 |    |    |    |-- rating_color: string (nullable = true)
 |    |    |    |-- rating_text: string (nullable = true)
 |    |    |    |-- votes: string (nullable = true)

In [0]:
jsonData = spark.read.format("json")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","true")\
.option("multiline","true")\
.load("/FileStore/tables/resturant_json_data.json")
jsonData.select("*",explode("restaurants").alias("new_restaurants")).drop("restaurants")\
    .select(*,"new_restaurants.restaurant.R.res_id").show()

+--------+
|  res_id|
+--------+
|17066603|
|17059541|
|17064405|
|17057797|
|17057591|
|17064266|
|17060516|
|17060320|
|17059060|
|17059012|
|17060869|
|17061231|
|17058534|
|17057925|
|17064031|
|17061237|
|17061253|
|17061296|
|17061205|
|17057397|
+--------+
only showing top 20 rows

In [0]:
 jsonData = spark.read.format("json")\
.option("header","true")\
.option("mode","permissive")\
.option("inferschema","true")\
.option("multiline","true")\
.load("/FileStore/tables/resturant_json_data.json")
jsonData.select("*",explode("restaurants").alias("new_restaurants")).drop("restaurants").select("*","new_restaurants.restaurant.R.res_id",explode_outer("new_restaurants.restaurant.establishment_types").alias("newestablishment_types"),col("new_restaurants.restaurant.name").alias("newname")).drop("new_restaurants").show()

+----+-------+-------------+-------------+-------------+------+--------+----------------------+--------------------+
|code|message|results_found|results_shown|results_start|status|  res_id|newestablishment_types|             newname|
+----+-------+-------------+-------------+-------------+------+--------+----------------------+--------------------+
|null|   null|         6835|           20|            1|  null|17066603|                  null|            The Coop|
|null|   null|         6835|           20|            1|  null|17059541|                  null|Maggiano's Little...|
|null|   null|         6835|           20|            1|  null|17064405|                  null|Tako Cheena by Po...|
|null|   null|         6835|           20|            1|  null|17057797|                  null|Bosphorous Turkis...|
|null|   null|         6835|           20|            1|  null|17057591|                  null|Bahama Breeze Isl...|
|null|   null|         6835|           20|            1|  null|17064266|                  null|Hawkers Asian Str...|
|null|   null|         6835|           20|            1|  null|17060516|                  null|Seasons 52 Fresh ...|
|null|   null|         6835|           20|            1|  null|17060320|                  null|Raglan Road Irish...|
|null|   null|         6835|           20|            1|  null|17059060|                  null|           Hillstone|
|null|   null|         6835|           20|            1|  null|17059012|                  null|Hollerbach's Will...|
|null|   null|         6835|           20|            1|  null|17060869|                  null|     Texas de Brazil|
|null|   null|         6835|           20|            1|  null|17061231|                  null|    The Ravenous Pig|
|null|   null|         6835|           20|            1|  null|17058534|                  null|    Earl of Sandwich|
|null|   null|         6835|           20|            1|  null|17057925|                  null|    Caf Tu Tu Tango|
|null|   null|         6835|           20|            1|  null|17064031|                  null|Tibby's New Orlea...|
|null|   null|         6835|           20|            1|  null|17061237|                  null|Cevche Tapas Bar...|
|null|   null|         6835|           20|            1|  null|17061253|                  null| Ethos Vegan Kitchen|
|null|   null|         6835|           20|            1|  null|17061296|                  null|Pom Pom's Teahous...|
|null|   null|         6835|           20|            1|  null|17061205|                  null|     Yellow Dog Eats|
|null|   null|         6835|           20|            1|  null|17057397|                  null|              'Ohana|
+----+-------+-------------+-------------+-------------+------+--------+----------------------+--------------------+
only showing top 20 rows